sudo: required

services:
  - docker

language: go

go:
  - 1.7

install: true

script:
  - ./test.sh

deploy:
     - provider: s3
       skip_cleanup: true
       access_key_id: AKIAJ7KAYTEDAR345M7A
       secret_access_key:
         secure: Ag5GS9De5AeOs6lAYS2EkhHRwC8mdFfmuCNfQ+QOx/HSPSLNuP1TbKFQ17/3cAfWFJ/oIr3xHXAHz0fqWExJtedOusRLsfwdlFrtnagYcloEYnqnQnG9gYZuXMek2Cv1D8xRDx6mZ8evRPDhoWH8blVJdGgnj8dFQnSmRJJBdKzPv1jeSp1rOnC3ZrABbShKBDfsQKq4VRWQ4lAmS6AJEogbyJKhrNRSLEKIISCInW2+zK3uI1+y9vjPh05djiOr0RoeabBfdTWuJPOPmXaDxvII80UP+bJ/uXI+t1e28h4I8RCGtLs3sZHuozjg8L0Yewcdp4yi0LOxSEA/VuD5/+PyivyWOmxBzdaVA20Seyw2GR2Jxt1G+n8//AHXpt+iOkKbFR+QCNSwSX/uTPDyUXRnF4BgqIvy+epuYK69uQ180Sq+5m0R7AfaojNY1hgQWkFtnNPtdwY7/Xql/i0q1Sqou5qYaBqVSgvpjNjA9iwfDg9QXwaUHaHZQWMWAVHvnBqsde+eRbkZkmeT2nkAXR8Nsq4qW0XRmauIrnzKOowiZ8e2r0An4hldtJs2IOqmf6787l//OrcGaoIgFzSQRhXzKp98iOAjlHIYYu806mAHAwOOkrm6bJ3uCBiixiVec4WZV8LZl5kTU0WAIu1HJtj1bPl7rlHVChm+jaLUEcc=
       bucket: api.geonet.org.nz
       region: ap-southeast-2
       local_dir: .tmp/api/delta
       upload-dir: delta
       on:
          branch: master
     - provider: script
       script: ./deploy.sh
       on:
         branch: master

# vim: set ts=2 sw=2 tw=0 et:
