{{- $base := . -}}
package stationxml

{{range $c := .Comments -}}
// {{$c}}
{{end -}}
type {{.AttrName}} struct {
	{{type .Type .Type}}{{range $v := .Attributes }}

		{{range $c := $v.Comments -}}
			// {{$c}}
		{{end -}}
		{{title $v.AttrName}} {{type $v.AttrType "string"}} {{xml $v.AttrName "attr" (use $v.Use) }}
	{{end -}}
}
